.ital{
  font-style: italic;
  font-weight: bold;
  font-size: 2.0vw;
}

.pic{
  width: 5.5vw;
}

.text_name{
  font-size: 1.2vw;
}

.text_name2{
  font-size:1.1vw;
}

.sized_box{
  height: 25px;
}

hr{
  border-top: 2px solid blue;
  width: 80%;
}

body{

  overflow-x: hidden;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-image: linear-gradient(to bottom right,#2c3e50, #bdc3c7);
}

pre{
  color: white;
  text-shadow: 2px 2px 5px black;
}

a{
  color: darkblue;
  text-shadow: 0 0 black;
}
